﻿@model AplikacjaWWW.Controllers.DataModel
<script src="~/scripts/main.js"></script>

<script>
    //  Tutaj ładowane danych z modelu do js:
    modelData[MODEL_IS_LOGGED] = @Model.isLogged;
    modelData[MODEL_NICKNAME] = '@Model.nickname';
    modelData[MODEL_LOGIN_ERROR_MESSAGE] = @Model.loggingErrorMessage;
    modelData[MODEL_LOGIN_ERROR_MESSAGE] = modelData[MODEL_LOGIN_ERROR_MESSAGE].toString();
    modelData[MODEL_GROUPS_LOADED] = false;
    modelData[MODEL_GROUPS] = [];
</script>

<script src="~/scripts/logging.js"></script>
<script src="~/scripts/primaryOptions.js"></script>
<script src="~/scripts/secondaryOptions.js"></script>
<script src="~/scripts/groupsContent.js"></script>
<script src="~/scripts/mailing.js"></script>

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Aplikacja WWW</title>
    </head>
    <body>
        <div class="container">
            <header id="mainHeader"></header>
            <main id="mainContainer"></main>

            <footer>
                <address>
                    <p><b>Przedmiot:</b> Warsztaty zawodowe</p>
                    <p><b>Prowadzący:</b> </p>
                </address>
            </footer>
        </div>
    </body>
</html>
<script>loadMain();</script>