﻿:root {
    /* Colors: */
    --headerColor: #232323;
    --mainColor: #2E303E;
    --footerColor: #1D1E27;
    --fontColor: #D5D7E8;
    --hoveredFontColor: #4F66ED;
    --inputColor: #1A1A1A;
    --hoveredButtonColor: #3E3E3E;
    --loggingContainerColor: #16171D;
    --inputBorderColor: #435B6E;
    --inputFontColor: #57595B;
    /* Size */
    --headerHeight: 100px;
    --footerHeight: 100px;
    --firstFontSize: 28px;
    --secondFontSize: 22px;
    --thirdFontSize: 20px;
    --normalFontSize: 18px;
    --smallFontSize: 16px;
    --contentHeight: 600px;
    --buttonWidth: 150px;
    --buttonHeight: 35px;
    --loggingContainerWidth: 400px;
    --loggingContainerHeight: 440px;
    --loggingInputWidth: 300px;
    --registerButtonWidth: 140px;
    /* Spacing */
    --bigSpacing: 50px;
    --standardSpacing: 20px;
    --standardFontSpacing: 10px;
    --smallFontSpacing: 7px;
}

/* General section */

html {
    color: var(--fontColor);
    margin: 0;
    font-size: var(--normalFontSize);
}

body {
    background-color: var(--footerColor);
    margin: 0;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    margin: 0;
    cursor: default;
}

h1 {
    font-size: var(--firstFontSize);
}

h2 {
    font-size: var(--secondFontSize);
}

h3 {
    font-size: var(--thirdFontSize);
    margin: 0;
    padding: 0;
}

p {
    text-decoration: none;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: var(--normalFontSize);
}

a {
    text-decoration: none;
    color: inherit;
}

    a:visited {
        color: inherit;
    }


button {
    font-size: var(--normalFontSize);
    color: var(--fontColor);
    border: none;
    background-color: transparent;
    font-family: 'Comic Sans MS';
    padding: 0;
}

    button:hover {
        text-decoration: none;
        color: var(--hoveredFontColor);
        cursor: pointer;
    }

input {
    padding: var(--standardSpacing);
    background-color: transparent;
    border: 2px solid var(--inputBorderColor);
    color: grey;
    text-align: center;
}

/* Header section */

header {
    background-color: var(--headerColor);
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    padding: var(--standardSpacing);
}

.logoPwste {
    width: 223px;
    height: 50px;
}

.headerStartText:hover {
    cursor: default;
}

.primaryNavigation {
    margin: 0 auto;
    display: flex;
}

    .primaryNavigation button {
        font-size: var(--secondFontSize);
        padding: var(--standardFontSpacing);
    }

.logOutContainer h2 {
    display: flex;
    justify-content: flex-end;
}

.logOutContainer form {
    display: flex;
    justify-content: flex-end;
}


/* Main section */
main {
    background-color: var(--mainColor);
    padding: var(--standardSpacing);
    display: flex;
    height: var(--contentHeight);
}

.secondaryNavigation {
    padding-right: var(--standardSpacing);
    display: flex;
    flex-direction: column;
    border-right: 2px groove var(--fontColor);
}

    .secondaryNavigation h2 {
        font-family: 'Comic Sans MS';
    }

    .secondaryNavigation button {
        display: block;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: var(--standardFontSpacing) 0 0 var(--standardSpacing);
    }


.scrollbarContainer {
    scrollbar-width: thin;
    overflow-y: auto;
}

    .scrollbarContainer::-webkit-scrollbar {
        background-color: transparent;
    }

.loggingContainer {
    max-height: var(--loggingContainerHeight);
    margin: auto auto;
    background-color: var(--loggingContainerColor);
    padding: 0 var(--bigSpacing);
    border-radius: 50px;
    padding-bottom: var(--bigSpacing);
}


    .loggingContainer div {
        margin: var(--bigSpacing) auto 0 auto;
    }

    .loggingContainer h1, p {
        display: flex;
        justify-content: center;
        width: var(--loggingContainerWidth);
    }

    .loggingContainer h1 {
        margin-bottom: var(--standardFontSpacing);
    }

    .loggingContainer p {
        cursor: default;
    }

    .loggingContainer input {
        display: flex;
        margin: var(--standardSpacing) auto 0 auto;
        padding: var(--standardSpacing);
        background-color: var(--loggingContainerWidth);
        border: 2px solid var(--inputBorderColor);
        border-radius: 30px;
        color: grey;
        width: var(--loggingInputWidth);
        text-align: center;
    }

    .loggingContainer button {
        display: flex;
        margin: 0 auto 0 auto;
        padding: 0;
    }

.loggingErrorMessage {
    margin: var(--standardSpacing) 0 0 0;
}

.loggingToggleButton {
    font-size: var(--smallFontSize);
    color: grey;
}

.registerTypeSelection {
    display: flex;
    justify-content: center;
}

    .registerTypeSelection button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--standardSpacing);
        background-color: transparent;
        border: 2px solid var(--inputBorderColor);
        border-radius: 30px;
        width: var(--registerButtonWidth);
        margin: 0 10px;
    }

.contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.groupsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.groupsContainerHorizontal {
    box-sizing: border-box;
    padding: var(--standardFontSpacing);
    height: 100%;
}

.groupsContainerLeft {
    width: 65%;
}

.groupsContainerRight {
    width: 35%;
    border-left: 2px groove var(--fontColor);
}

.groupsHeader {
    border-bottom: 2px groove var(--fontColor);
    margin-bottom: var(--standardFontSpacing);
    height: 10%;
}

    .groupsHeader h2 {
        display: flex;
        justify-content: center;
    }

.groupsContainerList {
    height: 60%;
    padding: 0;
    margin: 0;
}

.groupsContainerVertical {
    display: flex;
    width: 100%;
    margin-bottom: var(--standardFontSpacing);
}

.groupsContainerVerticalPart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

    .groupsContainerVertical span {
        font-size: var(--normalFontSize);
        font-family: 'Comic Sans MS';
        cursor: default;
    }

.groupsContainerTools {
    display: flex;
    height: calc(30% - var(--standardSpacing));
    border-top: 2px groove var(--fontColor);
}

.groupsContainerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .groupsContainerForm * {
        margin: 0 auto var(--standardFontSpacing) auto;
    }

    .groupsContainerForm input {
        width: var(--loggingInputWidth);
        border: 1px solid var(--fontColor);
    }

.mailContainer {
    display: flex;
    flex-direction: column;
    max-height: var(--loggingContainerHeight);
    background-color: var(--loggingContainerColor);
    margin: auto auto;
    padding: var(--bigSpacing);
    border-radius: 50px;
    background-color: var(--loggingContainerColor);
}

    .mailContainer * {
        display: flex;
        margin: 0 auto var(--standardSpacing) auto;
        width: var(--loggingContainerWidth);
        justify-content: center;
    }

    .mailContainer button {
        margin: 0px auto;
    }

    .mailContainer select {
        padding: var(--standardSpacing);
        background-color: var(--loggingContainerColor);
        border: 2px solid var(--inputBorderColor);
        color: grey;
        text-align: center;
        margin-bottom: var(--standardSpacing);
    }

    .mailContainer textarea {
        padding: var(--standardSpacing);
        background-color: var(--loggingContainerColor);
        border: 2px solid var(--inputBorderColor);
        color: grey;
        text-align: center;
        margin-bottom: var(--standardSpacing);
        min-height: var(--loggingInputWidth);
        resize: none;
    }


/* Footer section */
footer {
    background-color: var(--footerColor);
    height: var(--footerHeight);
    display: flex;
    justify-content: flex-end;
    margin: var(--standardSpacing);
}

    footer p {
        display: flex;
        justify-content: flex-end;
    }
